PORT=3000
DATABASE_URL=postgresql://ecostroycontinent:change-me@sql:5432/ecostroycontinent
POSTGRES_DB=ecostroycontinent
POSTGRES_USER=ecostroycontinent
POSTGRES_PASSWORD=change-me
APP_IMAGE=ghcr.io/kwentin3/ecostroycontinent-app:latest
